# Auto detect text files and perform LF normalization
Nombre: Cesar David Gordillo sanabria
Programa: Ingenieria de Sistemas
Fecha: 30 / Agosto / 2020
Contacto
Correo: cdgordillos@unadvirtual.edu.co, cdgordillos@gmail.com
Skype: che737
Celular: 3112795249
